{% extends "front/base.html" %}
{% load static %}

{% block content %}

<template id="t_dlt-button">
    <div class="del-button">
        <image src="{% static 'images/trash.svg' %}"></image>
    </div>
</template>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="hat-wrapper">
    <div class="hat flex-container">
        <div class="logo-container flex-container">
            <img src="{% static 'images/snake_white.svg' %}" height="100%">
            <div>
                SAPR<br>Technologies
            </div>
        </div>
        <div id="chatname">Название чата</div>
        <div id="menu-button">Меню</div>
        <div id="exit-button">Выход</div>
    </div>
</div>
<div class="main-wrapper flex-container">
    <div class="sidebar flex-container">
        <h2>Ваши чаты</h2>
        <div id="chats" class="flex-container">
        </div>
        <div id="create-chat-btn" title="Создать чат">+</div>
    </div>
    <div class="chat-wrapper flex-container">
        <div class="chat-scroll">
            <div id="chat">
            </div>
        </div>
        <div class="chat-input-wrapper flex-container">
            <textarea rows="1" wrap="soft" type="text" id="chat-input" placeholder="Напишите что-нибудь..."></textarea>
            <div class="input-button" id="chat-message-submit"><image src="{% static 'images/send.svg' %}"></image></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
{% endblock %}