{% extends "front/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/swal_styles.css' %}">
<script>
    Swal.fire({
    title: 'Вход',
    html: `
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="swal2-confirm swal2-styled" type="submit">Войти</button>
        </form>
       <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    `,
    showConfirmButton: false,
    allowOutsideClick: false,
    allowEscapeKey: false
    });
</script>

{% endblock %}