{% extends "front/base.html" %}
{% load static %}

{% block content %}

<script>
    Swal.fire({
    title: 'Регистрация',
    html: `
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="swal2-confirm swal2-styled" type="submit">Зарегистрироваться</button>
        </form>
       <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    `,
    showConfirmButton: false,
    allowOutsideClick: false,
    allowEscapeKey: false
    });
</script>

{% endblock %}