input {
    background-color: #e4e4e4;
    padding: 3px;
    border-radius: 5px;
}

a {
    transition: all 0.2s;
    color: #7066e0;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #3c3a9e;
    text-decoration: none;
}